# ==============================================================================
#  Quarto Render Files
# ==============================================================================
/.quarto/
**/*.quarto_ipynb
/_book/
/_freeze/

# ==============================================================================
#  Development
# ==============================================================================
/wip
.Rhistory
.vscode

