# ==============================================================================
#  Quarto Render Files
# ==============================================================================
/.quarto/
**/*.quarto_ipynb
/_book/

# ==============================================================================
#  Development
# ==============================================================================
/wip
.Rhistory
